<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- FWログ -->
    <appender name="FW_FILE"
              class="ch.qos.logback.core.FileAppender">
        <!-- ファイルの吐き出し先 -->
        <file>log/gafw.log</file>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <!-- アプリログ -->
    <appender name="APP_FILE"
              class="ch.qos.logback.core.FileAppender">

        <file>log/evo.log</file>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- コンソール出力 -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- FW側 -->
    <logger name="ga.framework"
            level="DEBUG"
            additivity="false">
        <appender-ref ref="FW_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <!-- SAMPLEアプリ側 -->
    <logger name="jp.co.evo"
            level="DEBUG"
            additivity="false">
        <appender-ref ref="APP_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- 上記以外 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>